<div class="container">
  <div class="row flex-items-md-middle flex-items-md-center flex-items-lg-middle flex-items-lg-center">
    <div class="col-xs">
      <img src="https://viawolf.com:1235/assets/auth/logo.png" alt="" class="logotype mx-auto d-block">

      <p>
        <small class="text-xs-center d-block">Please Enter your Email Address or mobile Number for recovering your Password.</small>
      </p>

      <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address">
      </div>


      <button type="button" class="btn btn-primary btn-block text-uppercase">send</button>
      <button type="button" class="btn btn-link btn-block" [routerLink]="['', 'auth', 'login']">Back to Log In</button>
    </div>
  </div>
</div>
